# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [ ]:
chipo = pd.read_csv("chipotle.tsv", sep="\t")

print(chipo.head())

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98

### Step 4. See the first 10 entries

In [ ]:
print(chipo.head(10))

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl
5         3         1                           Chicken Bowl
6         3         1                          Side of Chips
7         4         1                          Steak Burrito
8         4         1                       Steak Soft Tacos
9         5         1                          Steak Burrito

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5  [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
6                                                NaN     $1.69
7  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
8  [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25
9  [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25

### Step 5. What is the number of observations in the dataset?

In [ ]:
# Solution 1
print(len(chipo))

4622

In [ ]:
# Solution 2
print(chipo.shape[0])

4622

### Step 6. What is the number of columns in the dataset?

In [ ]:
print(len(chipo.columns))

5

### Step 7. Print the name of all the columns.

In [ ]:
print(chipo.columns)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [ ]:
print(chipo.index)

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [ ]:
most_ordered_item = chipo.groupby("item_name").quantity.sum().sort_values(ascending=False).head(1)
print(most_ordered_item)

item_name
Chicken Bowl    761
Name: quantity, dtype: int64

### Step 10. For the most-ordered item, how many items were ordered?

In [ ]:
most_ordered_item = chipo.groupby("item_name").quantity.sum().sort_values(ascending=False).head(1)
print(most_ordered_item)

item_name
Chicken Bowl    761
Name: quantity, dtype: int64

### Step 11. What was the most ordered item in the choice_description column?

In [ ]:
most_ordered_choice = chipo['choice_description'].value_counts().head(1)
print(most_ordered_choice)

choice_description
[Diet Coke]    134
Name: count, dtype: int64

### Step 12. How many items were orderd in total?

In [ ]:
total_items_ordered = chipo['quantity'].sum()
print(total_items_ordered)

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [ ]:
print(chipo['item_price'].dtype)

object

#### Step 13.b. Create a lambda function and change the type of item price

In [ ]:
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x.replace('$', '')))

print(chipo['item_price'].dtype)
print(chipo.head())

float64
   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl

                                  choice_description  item_price
0                                                NaN        2.39
1                                       [Clementine]        3.39
2                                            [Apple]        3.39
3                                                NaN        2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...       16.98

#### Step 13.c. Check the item price type

In [ ]:
print(chipo['item_price'].dtype)

float64

### Step 14. How much was the revenue for the period in the dataset?

In [ ]:
revenue = (chipo['quantity'] * chipo['item_price']).sum()
print("Revenue: $", round(revenue, 2))

Revenue: $ 39237.02

### Step 15. How many orders were made in the period?

In [ ]:
num_orders = chipo['order_id'].nunique()
print("Number of orders:", num_orders)

Number of orders: 1834

### Step 16. What is the average revenue amount per order?

In [ ]:
# Solution 1
revenue = (chipo['quantity'] * chipo['item_price']).sum()
num_orders = chipo['order_id'].nunique()

avg_revenue_per_order = revenue / num_orders
print("Average revenue per order (method 1): $", round(avg_revenue_per_order, 2))

Average revenue per order (method 1): $ 21.39

In [ ]:
# Solution 2
order_revenue = chipo.groupby('order_id').apply(lambda x: (x['quantity'] * x['item_price']).sum())
avg_revenue_per_order_2 = order_revenue.mean()

print("Average revenue per order (method 2): $", round(avg_revenue_per_order_2, 2))

Average revenue per order (method 2): $ 21.39

/tmp/ipython-input-983236811.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  order_revenue = chipo.groupby('order_id').apply(lambda x: (x['quantity'] * x['item_price']).sum())

### Step 17. How many different items are sold?

In [ ]:
num_items = chipo['item_name'].nunique()
print("Number of different items sold:", num_items)

Number of different items sold: 50